.ent{
    text-align: center;
    color: white;
    border-color: yellow;
}
.est{
    color: white; 
    border-color: #302f2f;
    font-size: 13px;
}

.e{
    text-align: center;
    color: white; 
}

.e2{
    text-align: center;
    color: white; 
}