<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <label class="txt">Escribe la cadena</label>
            <div class="input-group">
                <textarea class="form-control form-control-lg " id="exampleFormControlTextarea1"  [(ngModel)]="cadena" name="cadena" rows="8" cols="45"></textarea><br>
            </div><br>
            <button (click)="evaluar()" class="btn btn-outline-primary btn-lg" type="submit">Evaluar</button>
        </div>  
    </div>
</div>